* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Playfair Display", serif;

  background: #171717;
}

.container {
  width: 99vw;
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: start;
  padding: 0.5rem 0 0.5rem 0;
  background: #171717;
  z-index: 2;
}

.logo_link {
  font-size: 2rem;
  margin-right: 8rem;
  color: #fff;
  margin-left: 20rem;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: translateX(-7rem);
}

.logo ul {
  display: flex;
  margin-right: 2rem;
}

.logo ul li {
  font-size: 1.2rem;
  justify-content: space-between;
  padding: 1rem 1rem 0.5rem 1rem;
}

.logo ul li a {
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  background: #171717;
  padding: 1rem 0 1rem 0;
  align-items: center;
}

header h1 {
  max-width: 50rem;
  margin-left: 2rem;
}

.heading_text {
  color: #fff;
}

.budget_section {
  font-family: "Roboto", sans-serif;
  background: #292424;
  border-radius: 1rem;
  padding: 1rem;
  margin-right: 2rem;
}

.budget_section h1 {
  margin-bottom: 1rem;
  color: floralwhite;
}

.budget_values {
  display: flex;
  justify-content: space-between;
}

.budget_from,
.budget_to {
  background: rgb(104, 103, 103);
  border-radius: 0.4rem;
  padding: 0.8rem;
  color: #4ebd73;
  font-weight: 700;
  font-size: 1.2rem;
}

.budget_to {
  margin-left: 1rem;
}

/* ------------------------ Details section ------------------------------- */

section {
  display: flex;
}

.details_container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 71.8vh;
  background: #faf1e6;
  border-radius: 1rem;
  margin: 1rem 0 1rem 1rem;
}

.details_container p {
  width: 58rem;
  height: 30rem;
  margin-top: 2rem;
  margin-left: 1rem;
  overflow: scroll;
  word-wrap: break-word;
}

.imgdesc {
  background: #000000;
  border-radius: 1rem;
}

.imgdesc img {
  height: 8rem;
  width: 13rem;
  margin: 0.9rem 0 0.9rem 1.22rem;
  border-radius: 1rem;
}

.bids_container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 71.5vh;
  background: #faf1e6;
  border-radius: 1rem;
  margin: 1rem 0.6rem 0 1rem;
}

.bids_container ul {
  overflow: scroll;
}

.row {
  display: flex;
  color: #000;
  background: #ffd369;
  /* width: 54rem; */
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.bids_container button {
  height: 5rem;
  background: #4ebd73;
  border: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-size: 1rem;
}

.bids_container button:hover {
  background: #8f8f8f;
}

/* --------------------------------- Scrollbar ----------------------------------------- */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffa034;
  border-radius: 0.5rem;
}

/* --------------------------------------------         -------------------------------------- */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 20%; /* Could be more or less, depending on screen size */
  border-radius: 1rem;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-content input {
  height: 3rem;
  width: 21.2rem;
}

.down {
  margin-top: 3rem;
}

.modal-content button {
  height: 3rem;
  width: 5rem;
  padding: 0.8rem 0;
  background: #4ebd73;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.modal-content label,
input {
  margin-bottom: 1rem;
}

/* ------------------- Custom Input Field ----------------------- */

.textfield {
  position: relative;
  padding: 10px 15px;
  border: 1px solid #8f8f8f;
  border-radius: 5px;
  box-shadow: none;
}
.placeholder {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  transform: translate(-20rem, 0.7rem);
  color: #a9a9a9;
  padding: 0 5px;
}

input:focus ~ span,
input:not(:focus):valid ~ span {
  /* top: -8px; */
  transform: translate(-20rem, -0.7rem);
  color: #000000;
}
.textfield,
span {
  transition: ease-in-out 0.2s all;
  -webkit-transition: ease-in-out 0.2s all;
  -moz-transition: ease-in-out 0.2s all;
  -o-transition: ease-in-out 0.2s all;
}
