* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Playfair Display", serif;
  background: url(https://images.unsplash.com/photo-1642908589071-f9e1d08056e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1229&q=80)
    no-repeat center;
  background-size: cover;
  /* background: #edc0bf; */
  /* background: linear-gradient(90deg, #edc0bf 0, #c4caef 58%); */
}

html {
  font-family: "Fjalla One", sans-serif;
  background: #121212;
}

.container {
  width: 99vw;
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  width: 100vw;
  position: relative;
  justify-content: space-around;
  padding: 0.5rem 0 0.5rem 0;
  align-items: center;
  z-index: 2;
  background: #121212;
}

.logo_link {
  font-size: 2rem;
  margin-right: 8rem;
  color: #ffffff;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: translateX(-7rem);
}

.logo ul {
  display: flex;
  margin-right: 2rem;
}

.logo ul li {
  font-size: 1.2rem;
  justify-content: space-between;
  padding: 1rem 1rem 0.5rem 1rem;
}

.logo ul li a {
  color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  width: 60rem;
  height: 45rem;
  color: black;
  border-radius: 1rem;
  margin-top: 5rem;
  align-items: center;
  background: rgba(255, 255, 255, 0.26);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

h2 {
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: 3rem;
}

form label {
  margin: 1rem 1.5rem 1rem 1rem;
  font-size: 1.2rem;
}

form input,
select {
  margin: 0 1rem;
}

form input {
  height: 3rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

form button {
  width: 5rem;
  margin: 1rem;
  padding: 0.5rem;
  background: #000;
  color: #fff;
  border-radius: 0.5rem;
}

form select {
  width: 10rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proj_name {
  margin-left: 0;
  width: 17rem;
}

.money {
  display: flex;
  flex-direction: column;
  width: 24rem;
  background: rgba(255, 255, 255, 0.52);
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.money input {
  width: 10rem;
}

.money label {
  margin-right: 2.8rem;
}

.form-group {
  margin-bottom: 1rem;
}

.money h2 {
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

textarea {
  border-radius: 0.5rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  max-width: 17rem;
}

.left {
  display: flex;
  flex-direction: column;
}

.right {
}

.left_right {
  display: flex;
}

#myBtn {
  width: 24rem;
  height: 8rem;
  margin-top: 0;
  margin-left: 0;
  font-size: 1.2rem;
}

.submit_proj {
  width: 7rem;
  height: 4rem;
  font-size: 1.2rem;
  margin-top: 5rem;
}

/* --------------------------------------------         -------------------------------------- */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  align-items: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  border-radius: 1rem;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-content input {
  height: 3rem;
  width: 21.2rem;
}

.down {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  align-items: center;
}

.modal-content button {
  height: 3rem;
  width: 5rem;
  padding: 0.8rem 0;
  background: #4ebd73;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.modal-content label,
input {
  margin-bottom: 1rem;
}

label {
  background-color: #000000;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

#file-chosen {
  margin-left: 0.3rem;
  font-family: sans-serif;
}
