* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Fjalla One", sans-serif;
  background: #121212;
}

.container {
  width: 99vw;
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-around;
  padding: 0.5rem 0 0.5rem 0;
  align-items: center;
  z-index: 2;
  background: #121212;
}

.logo_link {
  font-size: 2rem;
  margin-right: 8rem;
  color: #ffffff;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: translateX(-7rem);
}

.logo ul {
  display: flex;
  margin-right: 2rem;
}

.logo ul li {
  font-size: 1.2rem;
  justify-content: space-between;
  padding: 1rem 1rem 0.5rem 1rem;
}

.logo ul li a {
  color: #ffffff;
}

header {
  width: 99vw;
  font-size: 3rem;
  padding-left: 2.3rem;
  font-weight: bold;
  margin: 2rem 0;
  color: #21c28c;
}

.row {
  display: flex;
  width: 96vw;
  background: #2d2c2c;
  margin: 0 0 0.5rem 2rem;
  /* padding: 1rem; */
  border-radius: 1rem;
  /* border: solid #747474 0.1rem; */
  /* box-shadow: 5px 5px 5px #bebebe; */
  color: #ffffffcc;
}

.row img {
  margin: 0 1rem 0 0;
  height: 7rem;
  width: 7rem;
  margin: 1rem;
}

.row h1 {
  width: 50vw;
  margin-top: 1rem;
}

.row h2 {
  font-size: small;
}

.row h3 {
  margin-left: 15rem;
  margin-right: 12rem;
  font-size: 2rem;
  text-align: center;
  padding-top: 2.5rem;
}

.row h3:last-child {
  color: #21c28c;
  margin-left: 0;
  margin-right: 0;
}

.row:hover {
  background: #f3f3f836;
  border: solid #21c28c 0.1rem;
}

.inner_row h1{
  margin-bottom: 2rem;
}

#img_done {
  width: 2rem;
}

.wokdon{
  position: sticky;
height: 100%;
border: none;
width: 8vw;
right:0px;
background: #21c28c;
border-top-right-radius: 1rem;
border-bottom-right-radius: 1rem;
font-size: 1.5rem;
font-weight: 700;
}

.btnsticktoright{
  position: absolute;
  height: 144px;
  right: 47px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* <!-- -------------- Start of Navbar ---------------- --> */
  .container {
    height: 33vh;
  }
  .logo ul {
    display: none;
  }

  .logo {
    justify-content: center;
    transform: translateX(4rem);
  }

  .logo h1 {
    font-size: 1rem;
    margin-right: 0;
  }

  .navigation {
    display: none;
  }

  .navbar {
    width: 100vw;
    background: black;
  }

  /* <!-- -------------- Start of Landing Page ---------------- --> */

  header {
    width: 100vw;
    font-size: 1rem;
    text-align: center;
    margin: 2rem 0;
  }

  .row {
    display: flex;
    width: 93vw;
    background: #f6f2f2;
    margin: 0 0 0.5rem 0.8rem;
    padding: 1rem;
    border-radius: 1rem;
    /* border: solid orangered 0.1rem; */
    box-shadow: 5px 5px 5px #bebebe;
  }

  .row h1 {
    font-size: 1rem;
  }

  .row h2 {
    font-size: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    width: 40vw;
  }

  .row p {
    font-size: 0.5rem;
    display: none;
  }

  .row img {
    margin: 0 1rem 0 0;
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
  }

  .row h3 {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 0.5rem;
    text-align: center;
    padding-top: 0.6rem;
  }

  .row h3:last-child {
    color: #21c28c;
    margin-left: 0;
    margin-right: 0;
  }

  #img_done {
    width: 1rem;
  }
}
